{
    // "singleQuote": true,
    // "trailingComma": "all",
    // "printWidth": 80,
    // "bracketSpacing": true,
    // "semi": false,
    // "tabWidth": 4,
    // "arrowParens": "avoid"
}
